* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.youtube-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 20px;
}

.item-thumbnail {
  width: 400px;
  margin-bottom: 15px;
}

.item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-footer {
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}

.item-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}

.item-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.item-info p {
  font-size: 14px;
  color: #606060;
}


